@model LaundryOnline.Models.ChangePassword
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <section class="tp-pricing-area pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="signup-container">
                        <div class="welcome-img">
                            <img src="~/assets/img/feature/fe.jpg" alt="welcome image">
                        </div>
                        <div class="form-container">
                            <p class="title">Change Password</p>
                            <form asp-action="ChangePassword" class="signup-form">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="UserId" value="@HttpContextAccessor.HttpContext.Session.GetString("CustomerId")"/>
                                <div class="form-item">
                                    <input asp-for="Password" placeholder="Password" type="password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <span class="item-indicator"></span>
                                </div>
                                <div class="form-item">
                                    <input asp-for="ConfirmPassword" placeholder="Confirm Password" type="password">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <span class="item-indicator"></span>
                                </div>
                                <div class="actions">
                                    <button type="submit" class="theme-btn">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Css {
    <style>
        .signup-container {
            display: grid;
            grid-template-columns: 330px 1fr;
            grid-gap: 60px;
            background: #fff;
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
            padding: 32px;
        }

        .welcome-img {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-container {
            padding-left: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title {
            text-transform: capitalize;
            font-size: 36px;
            font-weight: bold;
            letter-spacing: 1px;
            margin-bottom: 40px;
            color: #064e2a;
        }

        .signup-form {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        .form-item {
            position: relative;
            border: none;
            background: #f7f7f7;
            border-radius: 25px;
            margin-bottom: 35px;
            height: 45px;
        }

            .form-item input {
                font-family: 'Montserrat', sans-serif;
                border: none;
                outline: none;
                background: none;
                width: 100%;
                height: 45px;
                color: #4b4a4a;
                padding: 0 32px;
                letter-spacing: 0.5px;
            }

            .form-item .item-indicator {
                position: absolute;
                left: -18px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                height: 11px;
                width: 11px;
                background-color: transparent;
                border: 2px solid #064e2a;
            }

            .form-item input:focus ~ .item-indicator {
                background-color: #064e2a;
            }

        .terms {
            cursor: pointer;
            width: 100%;
            padding-left: 24px;
            margin-bottom: 24px;
            color: #4b4a4aa0;
            position: relative;
        }

            /* hide checkbox */
            .terms input {
                width: 0;
                height: 0;
            }

            /* style fake checkbox */
            .terms .checkmark {
                position: absolute;
                left: 4px;
                top: 2px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 1px solid #4b4a4aa0;
            }

            /* style checked fake checkbox */
            .terms input:checked ~ .checkmark::after {
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                bottom: 2px;
                right: 2px;
                border-radius: 50%;
                background-color: #064e2a;
            }

        .actions {
            padding: 16px 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #4b4a4aa0;
        }
    </style>
}
