@model LaundryOnline.Models.Payment

@{
    ViewData["Title"] = "Details";
}


<div class="page-header row">
    <div class="header-sub-title col-md-12">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Home
            </a>
            <a class="breadcrumb-item" asp-controller="Payments" asp-action="Index">Payments</a>
            <span class="breadcrumb-item active">Detail Payments</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4>
            Detail Payment
        </h4>
        <div class="m-t-25">
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.PaymentName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PaymentName)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.PaymentId" class="btn btn-warning">Edit</a>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </div>
</div>
