@model LaundryOnline.Models.Config

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- breadcrumb area start -->
    <div class="tp-page-title-area pt-180 pb-185 position-relative fix" data-background="assets/img/slider/breadcrumb-bg-1.jpg">
        <div class="tp-custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="tp-page-title z-index">
                        <h2 class="breadcrumb-title">About <span>Klenar</span></h2>
                        <div class="breadcrumb-menu">
                            <nav class="breadcrumb-trail breadcrumbs">
                                <ul class="trail-items">
                                    <li class="trail-item trail-begin">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="trail-item trail-end"><span>Appointment</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- about area start here -->
    <section class="tp-about-area tp-abouts-area position-relative pt-120 pb-100 fix">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <div class="tp-about-img-two tp-abouts-img-two position-relative mr-80 wow fadeInUp" data-wow-delay=".4s">
                        <img src="assets/img/about/about-img-2.jpg" class="img-fluid" alt="img not found">
                        <img src="assets/img/about/about-img-3.png" class="img-fluid img-second" alt="img not found">
                        <div class="tp-about-img-two-badge">
                            <h3>20</h3>
                            <h5>years <br>Experience</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-10">
                    <div class="tp-about-text tp-about-inner-page-text z-index wow fadeInUp" data-wow-delay=".6s">
                        <div class="section-title-wrapper mb-30">
                            <h5 class="tp-section-subtitle common-yellow-shape mb-20 heading-color-black">About our Company</h5>
                            <h2 class="tp-section-title heading-color-black">Our Success Cleaning <br>Up your Mess</h2>
                        </div>
                        <p class="mb-40">Can consent to the use of such technologies byclosing this notice senectus amet sodales habitant dapibus </p>
                        <div class="row mb-10">
                            <div class="col-sm-6">
                                <div class="tp-about-service mb-30">
                                    <div class="tp-about-service-icon yellow-circle-shape mb-15">
                                        <i class="flaticon-snowfall"></i>
                                    </div>
                                    <div class="tp-about-service-text">
                                        <h4 class="tp-about-service-text-title mb-15 heading-color-black-with-hover"><a href="service.html">Residential Cleaning Services</a></h4>
                                        <p>Duis congue atend lorem consequat interdum pretium ligula semper</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="tp-about-service mb-30">
                                    <div class="tp-about-service-icon yellow-circle-shape mb-15">
                                        <i class="flaticon-business-and-trade"></i>
                                    </div>
                                    <div class="tp-about-service-text">
                                        <h4 class="tp-about-service-text-title mb-15 heading-color-black-with-hover"><a href="service.html">Commercial Cleaning Services</a></h4>
                                        <p>Duis congue atend lorem consequat interdum pretium ligula semper</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="tp-about-number mb-30">
                                    <div class="tp-about-number-icon">
                                        <i class="flaticon-phone-call-1"></i>
                                    </div>
                                    <div class="tp-about-number-text">
                                        <span class="heading-color-black">Free Consutacy</span>
                                        <a href="tel:02(552)6620808" class="heading-color-black">02 (552) 662 0808</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="tp-about-author mb-30">
                                    <div class="tp-about-author-img">
                                        <img src="assets/img/about/about-author.png" class="img-fluid" alt="img not found">
                                    </div>
                                    <div class="tp-about-author-text">
                                        <h4 class="tp-about-author-text-title heading-color-black">Daniel Martyn</h4>
                                        <span class="heading-color-black">CEO - Fetoxe</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end here -->
    <!-- feature area start here -->
    <section class="tp-feature-area-three pt-120 pb-80 bg-gray-light">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-wrapper text-center mb-45 wow fadeInUp" data-wow-delay=".2s">
                        <h5 class="tp-section-subtitle common-yellow-shape mb-20 heading-color-black">Our Working Process</h5>
                        <h2 class="tp-section-title mb-25 heading-color-black">Excellent Techniques For <br>Effective Cleaning</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-sm-6">
                    <div class="tp-feature-three text-center mb-30 wow fadeInUp" data-wow-delay=".4s">
                        <div class="tp-feature-three-icon mb-30">
                            <img src="assets/img/icon/feature-bg.png" class="img-fluid" alt="img not found">
                            <i class="flaticon-booking"></i>
                        </div>
                        <div class="tp-feature-three-text">
                            <h4 class="tp-feature-three-title mb-20 heading-color-black-with-hover"><a href="project-details.html">Book Online</a></h4>
                            <p>Coingue aten lorem consqua interdum pretium ligaula a semper mauris easy dictuma</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="tp-feature-three text-center mb-30 wow fadeInUp" data-wow-delay=".7s">
                        <div class="tp-feature-three-icon mb-30">
                            <img src="assets/img/icon/feature-bg.png" class="img-fluid" alt="img not found">
                            <i class="flaticon-delivery-box"></i>
                        </div>
                        <div class="tp-feature-three-text">
                            <h4 class="tp-feature-three-title mb-20 heading-color-black-with-hover"><a href="project-details.html">Received Data</a></h4>
                            <p>Coingue aten lorem consqua interdum pretium ligaula a semper mauris easy dictuma</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="tp-feature-three text-center mb-30 wow fadeInUp" data-wow-delay="1s">
                        <div class="tp-feature-three-icon mb-30">
                            <img src="assets/img/icon/feature-bg.png" class="img-fluid" alt="img not found">
                            <i class="flaticon-boy"></i>
                        </div>
                        <div class="tp-feature-three-text">
                            <h4 class="tp-feature-three-title mb-20 heading-color-black-with-hover"><a href="project-details.html">Ready Cleaner</a></h4>
                            <p>Coingue aten lorem consqua interdum pretium ligaula a semper mauris easy dictuma</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="tp-feature-three text-center mb-30 wow fadeInUp" data-wow-delay="1.3s">
                        <div class="tp-feature-three-icon mb-30">
                            <img src="assets/img/icon/feature-bg.png" class="img-fluid" alt="img not found">
                            <i class="flaticon-cleaning"></i>
                        </div>
                        <div class="tp-feature-three-text">
                            <h4 class="tp-feature-three-title mb-20 heading-color-black-with-hover"><a href="project-details.html">Start Cleaning</a></h4>
                            <p>Coingue aten lorem consqua interdum pretium ligaula a semper mauris easy dictuma</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature area end here -->

</main>