<footer class="theme-dark-bg">
    <div class="tp-footer-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="tp-footer-widget footer-col-1 mb-30 wow fadeInUp" data-wow-delay=".2s">
                        <div class="tp-footer-info">
                            <div class="tp-footer-info-logo mb-35">
                                <a href="index.html"><img src="~/assets/img/logo/logo-white.png" class="img-fluid" alt="img not found"></a>
                            </div>
                            <h4 class="mb-15"><a href="tel:02(850)2560-3">02 (850) 2560 - 3</a></h4>
                            <h6 class="mb-15"><i class="fal fa-envelope-open"></i><a href="https://themepure.net/cdn-cgi/l/email-protection#a0c9cec6cfe0c2c1d3c9c3d4c8c5cdc58ec3cfcd"><span class="__cf_email__" data-cfemail="0e676068614e6c6f7d676d7a666b636b206d6163">[email&#160;protected]</span></a></h6>
                            <h6 class="mb-20"><i class="fal fa-map-marker-alt"></i> 25/B Globe House Ave. Point Beach, New York</h6>
                            <div class="tp-footer-info-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="tp-footer-widget footer-col-2 mb-30 wow fadeInUp" data-wow-delay=".4s">
                        <h4 class="tp-footer-widget-title mb-35">Our Services</h4>
                        <ul>
                            <li><a href="#">Carpet Cleaning</a></li>
                            <li><a href="#">Plumbing Serivices</a></li>
                            <li><a href="#">Park Cleaning</a></li>
                            <li><a href="#">Residential Services</a></li>
                            <li><a href="#">Toilet Cleaning</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="tp-footer-widget footer-col-3 mb-30 wow fadeInUp" data-wow-delay=".6s">
                        <h4 class="tp-footer-widget-title mb-35">Recent News</h4>
                        <div class="tp-footer-news">
                            <div class="tp-footer-news-single mb-15">
                                <h6><a href="blog-details.html">Orci magna pede, quisque sociis integer litora netus</a></h6>
                                <span>Jun 02, 2021</span>
                            </div>
                            <div class="tp-footer-news-single">
                                <h6><a href="blog-details.html">Congue morbi elit dictumst socio sit mauris congue sed.</a></h6>
                                <span>Jun 02, 2021</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="tp-footer-widget footer-col-4 mb-30 wow fadeInUp" data-wow-delay=".8s">
                        <h4 class="tp-footer-widget-title mb-40">Instagram</h4>
                        <div class="tp-footer-insta">
                            <a href="#"><img src="~/assets/img/footer/footer-insta-1.jpg" class="img-fluid" alt="img not found"></a>
                            <a href="#"><img src="~/assets/img/footer/footer-insta-2.jpg" class="img-fluid" alt="img not found"></a>
                            <a href="#"><img src="~/assets/img/footer/footer-insta-3.jpg" class="img-fluid" alt="img not found"></a>
                            <a href="#"><img src="~/assets/img/footer/footer-insta-4.jpg" class="img-fluid" alt="img not found"></a>
                            <a href="#"><img src="~/assets/img/footer/footer-insta-5.jpg" class="img-fluid" alt="img not found"></a>
                            <a href="#"><img src="~/assets/img/footer/footer-insta-6.jpg" class="img-fluid" alt="img not found"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tp-footer-subscribe-area position-relative">
        <div class="tp-footer-subscribe-shape"></div>
        <div class="container">
            <div class="tp-footer-subscribe-bg theme-yellow-bg pt-30 pb-20 z-index">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-4">
                        <div class="tp-footer-subscribe">
                            <h3 class="tp-footer-subscribe-title">Subscribe Our Newsletter</h3>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-8">
                        <div class="tp-footer-subscribe-form">
                            <form action="#">
                                <div class="tp-footer-subscribe-form-field mb-10">
                                    <input type="text" placeholder="Email Address">
                                    <i class="fal fa-paper-plane"></i>
                                </div>
                                <div class="tp-footer-subscribe-form-btn mb-10">
                                    <button type="submit" class="theme-btn"><i class="flaticon-enter"></i> Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tp-copyright-area bg-green-light z-index pt-45 pb-35">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tp-copyright text-center">
                        <p>Copyright ©2021 <span>Theme_pure</span>. All Rights Reserved Copyright</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>