<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown ">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Service</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="">
                        <a asp-area="Admin" asp-controller="Services" asp-action="Create">Add Service</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Services" asp-action="Index">List Service</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Unit</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="Units" asp-action="Create">Add Units</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Units" asp-action="Index">List Units</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-build"></i>
                    </span>
                    <span class="title">Banner</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="Banner" asp-action="Create">Add Banner</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Banner" asp-action="Index">List Banner</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    <span class="title">Blog</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="Blogs" asp-action="Create">Add Blog</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Blogs" asp-action="Index">List Blog</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-form"></i>
                    </span>
                    <span class="title">Coupon</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="Coupons" asp-action="Create">Add Coupons</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Coupons" asp-action="Index">List Coupons</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-controller="User" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">User</span>
                </a>

            </li>
            <li class="nav-item ">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Orders" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-pie-chart"></i>
                    </span>
                    <span class="title">Order</span>
                </a>

            </li>
            <li class="nav-item ">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Payments" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Payment</span>
                    <span class="arrow">
                    </span>
                </a>
            </li>
            <li class="nav-item ">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Configs" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-lock"></i>
                    </span>
                    <span class="title">Config</span>
                    <span class="arrow">
                    </span>
                </a>

            </li>
        </ul>
    </div>
</div>